@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
* {
  box-sizing: border-box; }

html, body {
  overflow: hidden;
  background-color: transparent; }

html {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.85); }

body {
  margin: 0; }

h1, h2, h3, h4 {
  font-family: 'Old Standard TT', serif;
  margin: 0;
  display: inline-block; }

h2 {
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  text-decoration-thickness: 1px; }
  a:hover {
    text-decoration-color: rgba(0, 0, 0, 0.5); }

s {
  text-decoration-color: rgba(0, 0, 0, 0.5); }

small {
  font-size: .9rem; }

ul {
  margin: 0;
  padding: 0; }
  ul:not(:last-child) {
    margin-bottom: 1rem; }

li {
  list-style: none;
  position: relative; }

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

header#header {
  border-bottom: 1px solid black;
  z-index: 2; }
  header#header .column {
    padding: 3rem; }

.flex {
  display: flex; }
  main .flex {
    overflow: hidden; }

.column {
  width: 50%;
  height: 100%; }

.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .scroll:not(:last-child) {
    border-right: 1px solid; }
  .scroll::-webkit-scrollbar {
    width: 5px; }
  .scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05); }
  .scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05); }
  .scroll::-webkit-scrollbar-thumb:hover {
    background: black; }

section {
  padding: 3rem;
  position: relative;
  overflow: visible; }
  section:not(:last-child) {
    border-bottom: 1px solid; }
  section header {
    margin-bottom: 1rem; }

span[title] {
  cursor: help; }

ul.nested li {
  max-width: 32rem;
  padding-left: 1.25em;
  margin-top: .5em; }
  ul.nested li::before {
    content: "";
    width: .5em;
    height: .5em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: solid black;
    border-width: 0 0 1px 1px; }
  ul.nested li.website::before {
    content: "*";
    top: 0;
    border: 0; }

ul.nested > li {
  break-inside: avoid;
  position: relative; }
  ul.nested > li:not(:last-child) {
    margin-bottom: 2em; }
  ul.nested > li > ul > li:not(:last-child) {
    margin-bottom: 1em; }
  ul.nested > li::before {
    border-left-width: 0; }
  ul.nested > li li:not(:last-child)::after {
    content: "";
    width: 1px;
    height: calc(100% + .5rem);
    display: block;
    position: absolute;
    left: 0;
    top: .5rem;
    background-color: black; }

ul.inline {
  display: inline-block; }
  ul.inline li {
    display: inline-block; }

#filter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .5;
  pointer-events: none;
  transition: background-color 10000ms linear; }
