@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

@import 'vars';

* {
	box-sizing: border-box;
}


::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,.05);
}
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.05);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,1);
}

html, body {
	background-color: transparent;
	@include desktop {
		overflow: hidden;
	}
}

html {
	font-family: 'IBM Plex Mono', monospace;
	// font-family: 'Times New Roman', serif;
	// font-family: 'Old Standard TT', serif;
	// font-family: 'Gowun Batang', serif;
	// font-family: 'Arial', serif;
	font-size: 14px;
	line-height: 1.2em;
	color: rgba(0,0,0,.85);
}

body {
	margin: 0;
}

h1, h2, h3, h4 {
	// font-family: 'Times New Roman', serif;
	font-family: 'Old Standard TT', serif;
	// font-family: 'Gowun Batang', serif;
	// font-family: 'CMU Serif', serif;
	margin: 0;
	display: inline-block;
}

h2 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
	text-decoration: underline;
	text-decoration-color: rgba(0,0,0,.25);
	text-decoration-thickness: 1px;
	&:hover {
		text-decoration-color: rgba(0,0,0,.5);
	}
}

strong {
	font-weight: 500;
}

s {
	text-decoration-color: rgba(0,0,0,.5);
}

small {
	font-size: .9rem;
}

ul {
	margin: 0;
	padding: 0;
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

li {
	list-style: none;
	position: relative;
	a {
		// &[target]::after {
		// 	content: "↪";
		// 	transform: rotate(-90deg);
		// 	// color: transparent;
		// 	display: inline-block;
		// 	// background-size: contain;
		// 	// background-position: center;
		// 	// background-repeat: no-repeat;
		// 	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='display: inline-block; width: 1em; height: 1em;' viewbox='0%0A0 48 48'%3E%3Cpath d='M36 24c-1.2 0-2 0.8-2 2v12c0 1.2-0.8 2-2 2h-22c-1.2%0A0-2-0.8-2-2v-22c0-1.2 0.8-2 2-2h12c1.2 0 2-0.8 2-2s-0.8-2-2-2h-12c-3.4%0A0-6 2.6-6 6v22c0 3.4 2.6 6 6 6h22c3.4 0 6-2.6%0A6-6v-12c0-1.2-0.8-2-2-2z'%3E%3C/path%3E%3Cpath d='M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2%0A0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8%0A0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8%0A2-2v-12c0-0.2 0-0.6-0.2-0.8z'%3E%3C/path%3E%3C/svg%3E");
		// }
	}
}

main {
	width: 100%;
	@include desktop {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

header#header {
	padding: 2rem 0;
	border-bottom: 1px solid black;
	z-index: 2;
	@include desktop {
		padding: 3rem 0;
	}
	.column {
		padding: 0 2rem;
		@include desktop {
			padding: 0 3rem;
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	main > & {
		overflow: hidden;
	}
}

.column {
	width: 100%;
	height: 100%;
	@include desktop {
		width: 50%;
	}
}

.scroll {
	@include desktop {
		&:not(:last-child) {
			border-right: 1px solid;
		}
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

section {
	padding: 2rem;
	position: relative;
	overflow: visible;
	border-bottom: 1px solid;
	@include desktop {
		padding: 3rem;
	}
	@include desktop {
		&:last-of-type {
			border-bottom: 0;
		}
	}
	header {
		margin-bottom: 1rem;
	}
}

aside {
	margin-bottom: 1rem;
}

span[title] {
	cursor: help;
}

ul.nested {
	li {
		max-width: 32rem;
		padding-left: 1.25em;
		margin-top: .5em;
		&::before {
			content: "";
			width: .5em;
			height: .5em;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			border: solid black;
			border-width: 0 0 1px 1px;
		}
		&.website::before {
			content: "*";
			top: 0;
			border: 0;
		}
	}
	> li {
		break-inside: avoid;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		> ul > li:not(:last-child) {
			margin-bottom: 1em;
		}
		&::before {
			border-left-width: 0;
		}
		li:not(:last-child)::after {
			content: "";
			width: 1px;
			height: calc(100% + .5rem);
			display: block;
			position: absolute;
			left: 0;
			top: .5rem;
			background-color: black;
			// background: linear-gradient(0deg, black, transparent);
		}
	}
}

ul.inline {
	display: inline-block;
	li {
		display: inline-block;
	}
}

details {
	white-space: pre-line;
	> small {
		display: block;
		line-height: 1.5em;
	}
}
summary {
	margin: .5rem 0 .5rem 0;
	display: inline-block;
	list-style: none;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: rgba(0,0,0,.25);
	text-decoration-thickness: 1px;
	&::after {
	  content: "➤";
	  display: inline-block;
	  margin-left: .5em;
	  transform: rotate(90deg);
	}
	details[open] & small:first-of-type,
	details:not([open]) & small:last-of-type {
		display: none;
	}
	details[open] &:after {
	  transform: rotate(-90deg);
	}
}

#filter {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: .5;
	pointer-events: none;
	transition: background-color 30000ms linear;
}