@media print {
	html {
		font-size: 12px;
	}
	body {
		background-color: transparent !important;
	}
	.print-hide {
		display: none;
	}
	// br {
	// 	display: none;
	// }
	strong {
		font-weight: normal;
	}
	a {
		text-decoration: none;
	}
	h1, h2 {
		font-size: 1.25rem;
	}
	main {
		display: block;
		.flex {
			height: 100%;
		}
	}
	header#header {
		padding: 1rem 0;
	}
	section {
		padding: 1rem 0;
		header {
			margin-bottom: .25rem;
		}
	}
	.column {
		padding: 0 !important;
		// &:first-child {
		//  padding-right: 1rem;
		// }
		// &:last-child {
		//  padding-left: 1rem;
		// }
	}
	.scroll {
		overflow: visible;
	}
	ul.nested {
		li {
			margin: .5rem 0 0 0 !important;
		}
	}
	#commissions ul.nested {
		ul {
			display: none;
		}
		> li {
			margin: 0;
			padding: 0;
			display: inline;
			strong {
				font-weight: normal;
			}
			div {
				display: none;
			}
			&::after {
				content: "; ";
				// margin-right: .25rem;
			}
			&::before {
				display: none;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}

@media screen {
	.screen-hide {
		display: none;
	}
}